<div class="login-page">
  <div>
    <mat-card style="margin-top:-195px;margin-left: -16.1%;">
      <div class="title">Better Together</div>
      <div class="subtitle">Connecting All...</div>
    </mat-card>
  </div>
  <mat-card  *ngIf="showLogin" class="login-card" style="margin-top: 20%;">
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <br />
        <mat-error *ngIf="loginInvalid">
        </mat-error>
        <mat-form-field class="full-width-input" style="margin-top: 0.5em;">
          <input
                  matInput
                  placeholder="Email"
                  formControlName="username"
                  autocomplete="username"
                  required
          />
          <mat-error> Please provide a valid email address </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input
                  matInput
                  type="password"
                  placeholder="Password"
                  formControlName="password"
                  autocomplete="current-password"
                  required
          />
          <mat-error> Please provide a valid password </mat-error>
        </mat-form-field>
        <button
                mat-raised-button
                color="primary"
                style="margin-top: 1em; background-color: rgb(255, 200, 0)"
                [disabled]="isLoading"
        >
          <div>
            Access Community Connect
          </div>
        </button>
        <button
                (click)="signUp()"
                mat-raised-button
                color="primary"
                style="margin-top: 1em;margin-left: 10px; background-color: rgb(255, 200, 0); width: 200px;">Skip to Signup
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
