.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-top: 10vh;
  background-image: url("../../../assets/background2.jpeg");
  height: 100%;
}

.title {
  font-size: 2em;
}

.subtitle {
  margin-top: 0.5em;
  font-size: 1em;
}

mat-card {
  min-width: 400px;
  padding: 2em;
  // margin: 2em auto 10em;
  text-align: center;
  background: rgb(255 255 255 / 60%);
  // position:absolute;
}

mat-form-field {
  display: block;
}

.clickable-link {
  color: rgb(29, 161, 242);
  cursor: pointer;
  text-decoration: underline;
}
