<div class="login-page">

    <mat-card class="create-new-user-card">
        <b style="color: white;">Create a new account</b>
    </mat-card>
    <mat-card class="create-user-card">

        <div class="flex-it">
            <mat-form-field class="card-item">
                <mat-label>Name</mat-label>
                <input matInput [(ngModel)]="name">
            </mat-form-field>
            <mat-form-field class="card-item">
                <mat-label>Username</mat-label>
                <input matInput [(ngModel)]="username">
            </mat-form-field>
        </div>

        <mat-form-field class="card-item">
            <mat-label>Email Id</mat-label>
            <input matInput [(ngModel)]="email">
        </mat-form-field>

        <mat-form-field class="card-item">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" [(ngModel)]="password">
        </mat-form-field>

        <mat-form-field class="card-item">
            <mat-label>Confirm Password</mat-label>
            <input matInput placeholder="Confirm Password" [(ngModel)]="cPassword">
        </mat-form-field>

        <div class="flex-it center">
            <button
                    (click)="signUpUser()"
                    mat-raised-button
                    color="primary"
                    style="margin-top: 1em; background-color: rgb(255, 200, 0); width: 200px;">Signup
            </button>
            <button
                    (click)="signIn()"
                    mat-raised-button
                    color="primary"
                    style="margin-top: 1em;margin-left: 10px; background-color: rgb(255, 200, 0); width: 200px;">Skip to Login
            </button>
        </div>

    </mat-card>
</div>
