<div class="learn-page">
    <div class="banner">
        <div class="banner-overlay">
            <div class="banner-text">
                We are a community connected by disability. Here, you can make friends, share your experiences,
                get the advice you need, and discuss the issues that matter to you.
            </div>
        </div>
    </div>
    <div class="body">
        <div class="left">
            <div class="slim-card">
                <div><mat-icon class="icon">info</mat-icon> Welcome to a community connected by disability.</div>
                <div>Ask questions, make friends, and find support. Don't know where to begin?</div>
            </div>
            <div class="big-card">
                <img src="assets/sayhello.png">
                <div>
                    <div>Start here and say hello!</div>
                    <div>Introduce yourself or say hello to other members of the community.</div>
                </div>
            </div>
            <div class="card-group">
                <div class="small-card">
                    <img src="assets/coffeelounge.png">
                    <div>
                        <div>Coffee lounge</div>
                        <div>Have a chat, play games, and form friendships with other community members in our virtual coffee lounge.</div>
                    </div>
                </div>
                <div class="small-card">
                    <img src="assets/disabilityissue.png">
                    <div>
                        <div>Disability rights and campaigning</div>
                        <div>Discuss accessibility, attitudes, issues that you are currently facing or changes and improvements you’d like to see.</div>
                    </div>
                </div>
                <div class="small-card">
                    <img src="assets/news.png">
                    <div>
                        <div>Disability rights and campaigning</div>
                        <div>Discuss accessibility, attitudes, issues that you are currently facing or changes and improvements you’d like to see.</div>
                    </div>
                </div>
                <div class="small-card">
                    <img src="assets/communityupdates.png">
                    <div>
                        <div>Disability rights and campaigning</div>
                        <div>Discuss accessibility, attitudes, issues that you are currently facing or changes and improvements you’d like to see.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <h2>Looks Like You're New Here</h2>
            <p>It looks like you're new here. Sign in or register to get started.</p>
            <div>
                <a routerLink="/login"><button style="background-color: white; color: #2B0130;">Login</button></a>
                <a href="/signup/signup-complete"><button>Sign up</button></a>
            </div>
        </div>
    </div>
</div>
